.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: black;
}

.container h1 {
  margin-top: 2%;
  margin-bottom: 5%;
}

.container a:hover {
  color: #f04c42;
}

.container p {
  padding: 20px 5px;
  font-size: 1.5em;
}

.image {
  width: 85%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
